body 
{
  	background-color: black;
}

#all 
{
	background-color: white;
	border: 1px solid lightgrey;

	border-radius: 10px;
	/* This is needed for curved edges. (Also helps with fixed height) */
	overflow: hidden;

	min-width: 700px;
	max-width: 700px;
	height: 600px;
	max-height: 600px;
  	margin: 0 auto;

  	text-align: center;
}

#main
{
	/* To connect the footer */
	margin-bottom: 0px;
	/* #all height minus #bottom height */
	height: calc(600px - 17px);
}

.container 
{
	width: 78%;

	/* Leave some space between the bottom of any content and the footer */
	height: calc(0.94 * (600px - 17px - 140px));

	/* Center everything */
	margin: 0 auto;

	/* Make content scrollable */
	overflow-y: auto;

	/* For Testing */
	/*border: 1px solid black;*/
	/*background-color: darkgrey;*/
}

#bottom
{
	display: block;
	background-color: #333;
	color: black;
	font-size: 85%
}

h1
{
	margin-bottom: 0px;
	cursor: pointer;
}

#top #subtitle
{
	/*font-style: italic;*/
	/*color: darkorange;*/
	color: #0066cc;
}

.error 
{
	/* Uncommenting the below line breaks the default hide function */
	/*display: none;*/
	color: red;
}

nav
{
	background-color: #366b99;
	border-bottom: 1px solid black;

	width: 100%;
	overflow: hidden;

	padding-top: 10px;
	padding-bottom: 10px;
	
	text-align: left;
}

nav a 
{
	color: white;
	text-decoration: none;
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 92px;
	padding-right: 92px;
	
	font-weight: bold;
	border-right: 1px solid lightgrey;
}

nav a:last-child
{
	border-right: 0px solid lightgrey;
}

#output-movieinfo
{
	border: 1px solid black;
	width: 400px;
	margin-left: calc((546px - 400px)/2 - 1px);
	background-color: white;
}

#input-plot
{ 
	height: 150px;
	width: 400px;
}

.arrows 
{
	text-decoration: none;
}

#output-results
{
	/* For Testing */
	/*border: 1px solid black;*/
}

#output-results hr
{
	width: 500px;
}

#tbl-results
{
	width: 500px;
	margin: 0 auto;

	border-radius: 10px;
	background-color: rgba(252,234,187,0.4);

	border: 1px solid black;
}

#tbl-results h5
{
	margin-top: 2px;
	margin-bottom: 0
}

#tbl-results td
{
	text-align: left;
	vertical-align: top;
	padding-right: 10px;
	
}

#tbl-results td.results-header
{
	text-align: right;
	white-space: nowrap;
	width: 33%;
	color: black;
	font-weight: bold;
}

#tbl-results td.results-data
{
	text-align: left;
	width: 100%;
	color: black;
}

#footer2
{
	margin-top: 0px;
	background-color: gainsboro;
	border-top: 1px solid grey;
	/* 100% of the remaining container height */
	height: 100%;
	font-size: 80%;
}


/* #info, #about */

#content-info, #content-about
{
	text-align: left;
	display: inline-block;
}

#content-info ul, #content-about ul
{
	/*list-style: circle;*/
	list-style: none;
	list-style-position: inside;
	padding-left: 2px;
}

#lst-genres
{
	column-count: 4;
}

h5
{
	margin-bottom: 2px;
}

#content-info h5, #content-about h5
{
	margin-top: 8px;
	display: inline-block;
}

hr
{
	color: whitesmoke;
}

p, ul
{
	margin-top: 8px;
	font-style: italic;
}
